{% extends 'base.html' %}
{% load extra_tags %}
<html>
<head><title></title></head>

<body>
{% block myscripts %}
<script>
  function cand_over(x)
  {
    var p = document.getElementById("tobechange");
    p.src=x;
  }
</script>
{% endblock %}
{% block content %}

<div id="localview" align="center"> <!-- the local view of reconscruct + candidate -->
<p> local view </p>
<!--<img src="{{STATIC_URL}}{{localview}}">-->
<table>
<tr>
<th> To be encode </th>
<th> Original local view </th>
</tr>
<tr>
<td>
<img src="{{STATIC_URL}}{{localview}}" id="tobechange">
</td>
<td>
<img src="{{STATIC_URL}}{{localorg}}"  id="localorg">
</td>
</tr>
</table>
</div>
<center><p> ---------------------------------- </p></center>
<div id="original" align="center">
<p> original target block </p>
<img src="{{STATIC_URL}}{{org}}">
</div>
<div id="candidates" align="center">
<table>
<tr>
Candidate APLC
</tr>
<tr>
<form action = "/cand_selected/" id="candidates" method="POST">{% csrf_token %}
{% for c in cands %}
<td>
<div id="cand_target_{{forloop.counter0}}">
  <input type="image" src="{{STATIC_URL}}{{c}}" value = "{{forloop.counter0}}" name = "{{c}}" onmouseover="cand_over('{{STATIC_URL}}{{localviewplus|getitem:forloop.counter0}}')">
</div>
</td>
{% endfor %}
<td>
<div id="nonegood">
  <input type="image" src="{{STATIC_URL}}{{noneitem}}" value = "-1" name = "{{noneitem}}" onmouseover="cand_over('{{STATIC_URL}}{{localview}}')">
</div>
</td>
</form>
</tr>
</table>
</div>
{% endblock %}

</body>
</html>
