{% extends 'base.html' %}
<html>
<head><title></title></head>

<body>

{% block content %}
<h1>
Finished!!!! Thank you!
</h1>
comments:
text box here
{% if type == 0 %}
<form action="/dist/corbis/128/intra">
{% endif %}
{% if type == 1 %}
<form action="/dist/corbis/64/intra">
{% endif %}
{% if type == 2 %}
<form action="/dist/startd2/">
{% endif %}
{% if type == 3 %}
<form action="/dist/coding/64/inter">
{% endif %}
{% if type == 4 %}
<form action="/dist/coding/64/intra">
{% endif %}
{% if type == 5 %}
<form action="/dist/corbis/128/inter">
{% endif %}
{% if type == 6 %}
<form action="/dist/corbis/64/inter">
{% endif %}
<input type="Submit" value="click to start again">
</form>

{% endblock %}

</body>
</html>
