{% extends 'base.html' %}
<html>
<head><title></title></head>

<body>

{% block content %}

<p>Welcome!</p>
<p>This is a test for the granulation of texture.</p>
<p> There will be 25 pairs of images shown.</p>
<p> For each pair, please select YES if you think in current granulation this is a texture, or NO if you think in current granulation it is not a texture.</p>
<p> If you select YES (it is texture), the granulation will be decrease and you will see a smaller granulate partition of SAME texture. If you select NO (it is not texture), the granulation will be increased and you will see a bigger granulate partition of SAME texture. </p>
<form action="/grantest/">?
<input type="Submit" value="click to start">
</form>
{% endblock %}

</body>
</html>
